.container{
	margin-top:10px;
}
.name h1{
	margin:5px auto 20px;
	display:table;
}
.dets{
	margin: 60px auto auto;
}
.dets p{
	margin:5px auto;
}
.education{
	margin-top:20px;
}
.skills{
	margin:20px auto;
}